# Ignore build directories
build/

# Ignore lib directories
lib/

# Ignore logs
logs/

# Ignore .vscode
.vscode/

# Ignore .idea
.idea/

# Ignore binaries
bin/

# Ignore .DS_Store
.DS_Store

# Ignore cmake-build-debug
cmake-build-debug/